<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

    <link th:href="@{/resources/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/bootstrap-grid.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/bootstrap-reboot.min.css}" rel="stylesheet"/>
    <title>Persons</title>
    <style type="text/css">
        div {
            background: url(/resources/pic/backgrnd3.jpg)
        }
    </style>
</head>
<body>
<script th:src="@{/resources/js/app.js}"></script>
<p>Click <a th:href="@{/adminEdit.html}">here</a> to Admin Editing</p>
<div class="container">

    <div class="row">
        <h1>Login Page</h1>
        <form th:action="@{/login}" method="post">
            <label for="username" class="col-2 col-form-label"><strong>E-mail: </strong></label>
            <input class="form-control" type="text" name="username" id="username"></input>
            <label for="password" class="col-2 col-form-label" ><strong>Password: </strong></label>
            <input class="form-control" type="password" name="password" id="password"></input><br></br>
            <button type="button" class="btn btn-primary btn-lg btn-block">Войти в систему</button>
            <br></br>
        </form>
    </div>

</div>


<script th:src="@{/resources/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/npm.js}"></script>
</body>
</html>