<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Login</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<script th:src="@{/resources/js/app.js}"></script>
<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <h1>Login Page</h1>

        <form th:action="@{/login}" method="post">
            <fieldset>
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Invalid username and password.
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">
                        You have been logged out.
                    </div>
                </div>

                <label for="username" class="col-2 col-form-label"><strong>E-mail: </strong></label>
                <input class="form-control" type="text" name="username" id="username" autofocus="true"></input>
                <label for="password" class="col-2 col-form-label"><strong>Password: </strong></label>
                <input class="form-control" type="password" name="password" id="password"></input><br></br>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Войти в систему</button>

                <br></br>
            </fieldset>
        </form>
    </div>

</div>
    <div th:replace="fragments/footer :: footer"/>
</div>


<script th:src="@{/resources/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/npm.js}"></script>

</body>
</html>