<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Persons</title>
    <div th:replace="fragments/header :: header-css"/>
    <style type="text/css">
        div {
            background: url(/resources/pic/fon.jpg)
        }
    </style>
</head>

<body>

<div th:replace="fragments/header :: header"/>

<script th:src="@{/resources/js/app.js}"></script>
<p>Click <a th:href="@{/adminEdit.html}">here</a> to Admin Editing</p>
<div class="container">
    <div class="row">
        <h1>Телефонный справочник</h1>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead class="thead-inverse">
            <tr>
                <th scope="row">#</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Number</th>
            </tr>
            </thead>
            <tr th:each="person : ${persons}">
                <td th:text="${person.id}"></td>
                <td th:text="${person.firstName}"></td>
                <td th:text="${person.lastName}"></td>
                <td th:text="${person.number}"></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="form-group col-md-1">
            <select class="form-control pagination" id="pageSizeSelect">
                <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
                        th:selected="${pageSize} == ${selectedPageSize}"></option>
            </select>
        </div>
        <div th:if="${persons.totalPages != 1}" class="form-group col-md-11 pagination-centered">
            <ul class="pagination">
                <li th:class="${persons.number == 0} ? disabled">
                    <a class="pageLink" th:href="@{/(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
                </li>
                <li th:class="${persons.number == 0} ? disabled">
                    <a class="pageLink" th:href="@{/(pageSize=${selectedPageSize}, page=${persons.number})}">&larr;</a>
                </li>
                <li th:class="${persons.number == (page - 1)} ? 'active pointer-disabled'"
                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                    <a class="pageLink" th:href="@{/(pageSize=${selectedPageSize}, page=${page})}"
                       th:text="${page}"></a>
                </li>
                <li th:class="${persons.number + 1 == persons.totalPages} ? disabled">
                    <a class="pageLink"
                       th:href="@{/(pageSize=${selectedPageSize}, page=${persons.number + 2})}">&rarr;</a>
                </li>
                <li th:class="${persons.number + 1 == persons.totalPages} ? disabled">
                    <a class="pageLink"
                       th:href="@{/(pageSize=${selectedPageSize}, page=${persons.totalPages})}">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<script th:src="@{/resources/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/npm.js}"></script>
</body>
</html>